.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.modal {
  width: 400px;
  background: #111827;
  padding: 25px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.1);
  background: #0b1220;
  color: white;
}

.modal input:focus {
  outline: 1px solid var(--red);
}

.modal button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal button:first-of-type {
  background: var(--red);
  color: white;
}

.modal button:last-of-type {
  background: transparent;
  color: white;
  border: 1px solid rgba(255,255,255,0.2);
}